<footer class="">
  <div class="body-content">
    <div class="info-shop">
      <div class="col-xs-6 col-sm-4">
        <div style="margin-bottom: 5px; margin-top: 5px">We accept</div>
        <%= image_tag "http://static.wixstatic.com/media/a9ff3b_998cd22d08e3400bab013227d86269d0.png_srb_p_109_21_75_22_0.50_1.20_0.00_png_srb", alt:"visa" %>
      </div>
      <div class="col-xs-6 col-sm-4 text-c">
        <div style="margin-bottom: 5px; margin-top: 5px">Let's connect</div>
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-google-plus-square"></i>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div style="margin-bottom: 5px; margin-top: 5px">Subcribe for Updates</div>
        <div class="input-group">
          <input type="text" class="form-control subcribe-email" placeholder="Your email here...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subcribe!</button>
          </span>
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>

  <div class="copyright">
    <div class="body-content">
    <div class="text-c">
      <div class="text-c logo-bot">- By The Books -</div>
      <div>© 2015 by By The Books. Proudly created with Duyet Nguyen</div>
    </div>
    </div>
  </div>


</footer>

