<footer class="">
  <div class="body-content">
  <div class="col-xs-6 col-sm-4 text-c">
    <div>We accept</div>
    <%= image_tag "http://static.wixstatic.com/media/a9ff3b_998cd22d08e3400bab013227d86269d0.png_srb_p_109_21_75_22_0.50_1.20_0.00_png_srb", alt:"visa" %>
  </div>
  <div class="col-xs-6 col-sm-4 text-c">
    <div>Let's connect</div>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-google-plus-square"></i>
  </div>
  <div class="col-xs-12 col-sm-4 text-c">
    <div>Subcribe for Updates</div>
    <input type="text" class="form-control">
  </div>



  <div class="copyright">
    <div style="width: 20%; border-bottom: solid 1px #ffffff; margin-right: auto;margin-left: auto"></div>
    <div class="text-c">
      <div class="text-c">by the books</div>
      <div>(c) 2015 by the books</div>
    </div>
  </div>
  </div>
</footer>

