<footer class="body-content">
  <div class="col-xs-6 col-sm-4">
    <div>We accept</div>
    <img src="images/visa.png" alt="visa">
  </div>
  <div class="col-xs-6 col-sm-4">
    <div>Let's connect</div>
    <img src="images/fb.png" alt="fb">
  </div>
  <div class="col-xs-12 col-sm-4">
    <div>Subcribe for Updates</div>
    <img src="images/fb.png" alt="fb">
  </div>
</footer>

<div class="copyright ">
  <div class="text-c">
    <div class="text-c">by the books</div>
    <div>(c) 2015 by the books</div>
  </div>

</div>