<div class="bs-example">
  <nav role="navigation" class="navbar navbar-default" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-center">
      <div class="navbar-header" >
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">
          Freeship
        </a>
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav page">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if current_user %>
              <%= link_to "Log out", {controller: "users/sessions", action: "destroy"}, {method: "delete"} %>
            <% else %>
              <%= link_to "Log In", {controller: "users/sessions", action: "new"}, {method: "get"} %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div style="position:relative; top:50px; height:5px; width:100%; border-bottom: 3px solid black; ">
  </div>
  <div class="solugan" >
    by the books
  </div>
 </div>

