<div class="body-background">
  <div class="body-content">

    <div>
      <%= image_tag("#{@book.imgbook}") %>
    </div>



    <%= @book.title %>

    <%= @author.ids %>

    <%= @category.ids %>

  </div>
</div>