/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap


 */


footer {
    padding-top: 10px;
    font-family: 'Ubuntu';
}

.copyright {
    clear: both;
    background-color: #2E2F30;
    color: #ffffff;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 20px;
}

.info-shop {
    margin-bottom: 0px;
}

.text-c {
    text-align: center;
}

.navbar {
    background-color: #000000;
    color: #ffffff;
}

.navbar a:hover{
    color: #ffffff;
    font-weight: bold;
}

.navbar a{
    color: #DADADA !important;
    text-decoration: none !important;
}


.navbar a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.subcribe-email {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo-bot {
    font-family: 'Tangerine';
    padding-top: 10px;
    font-size: 3em;
}

.fieldset-login {
    text-align: left !important;
    font-family: 'Ubuntu';
    font-weight: lighter;
}

.field {
    margin-top: 10px;
    margin-bottom: 10px;
}