@media screen and (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
  }

  .navbar .navbar-collapse {
    text-align: center;

  }


  .solugan {
    text-align: center;
    position: relative;
    max-width: 500px;
    top: 8px;
    width: auto;
    font-size: 4em;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: cursive;
  }

  .xs-book-des {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .xs-book-modal {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .mobile-book {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }



}

@media screen and (min-width: 992px) {
  .about-author-typical {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;

  }
}



/* mobile divice*/
@media screen and (max-width: 768px) {
  .solugan {
    text-align: center;
    position: relative;
    max-width: 350px;
    top: 15px;
    width: auto;
    font-size: 2.5em;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: cursive;
  }

  .book-of-month{
    width: auto !important;
    float: none;
  }
  .from-blog {
    width: 100%;
    clear: both;
  }

  .xs-book-img {
    width: auto;
    float: left;
    text-align: left;
    margin-right: 20px;
  }
  .xs-book {
    width: 100%;
    float: none;
    text-align: left;
  }

  .book-modal {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .body-content {
    width: 100%;
  }
  
  .avata-author {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

}

//tablet
@media screen and (max-width: 500px) {
  .xs-book-img{
    float: none;
    margin-right: 0;
  }
  .xs-book-des {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .xs-book-img {
    text-align: center;
  }

  .xs-book {
    text-align: center;
  }
}

.mobile-book {
  margin-bottom: 20px;
}

.navbar-center {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}



.body-background {
  background-color: #90B4CA;
  margin-top: 20px;
  padding-top: 5px;
}

.body-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;

}

.home-cover {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.home-cover-img {
  border: solid 1px #fff;
  padding: 20px;
  border-radius: 5px;
}

.img-home {
  max-width: 100%;
}

fieldset {
  border: 1px solid #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 20px 1.5em 20px !important;
  -webkit-box-shadow: 0 0 0 0 #000 !important;
  box-shadow: 0 0 0 0 #000 !important;
  text-align: center !important;
  border-radius: 5px;
}

legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: center !important;
  width: auto !important;
  padding: 0 10px !important;
  border-bottom: none !important;
  color: #fff !important;
}

.inline {
  float: left;
}

.shop {
  background-color: #ffffff;
  border-radius: 5px;
}

.category-title {
  font-style: italic;
  color: #676767;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "times new roman", times, serif;
  padding: 20px 0 10px 0;
}
.category {
  border-bottom: solid 1px #90B4CA;
}

.book-category  {

}

.img-book {
  max-width: 100%;
}

//Modal Book
.modal-body {
  text-align: left;
}

.modal-body .modal-book-img {
  float: left;
  margin: 10px;
  margin-right: 30px;
}

.book-title {
  font-weight: bold;
}

.book-price {
  font-weight: bold;
  color: red;
}

.xs-book-des {
  font-style: italic;
}

.fleft {
  float: left;
}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}


.img-book-month {
  text-align: right !important;
  margin-right: 0;
  padding-right: 0;
  width: 100%;
}
.book-shelf {
  width: 100%;
}

